info:
  stage: test
  tags:
    - ubuntu
    - docker
  image: golang:1.21.5-bookworm
  id_tokens:
    EXAMPLE_ID_TOKEN:
      aud: https://example.com
  script:
    # build.
    - |
      CGO_ENABLED=0 \
        go build -ldflags="-s"
    # dump the example gitlab ci job id token jwt parts (header, payload,
    # signature) to the job output.
    # NB never do this is a real job because the jwt should remain
    #    private (its a secret credential).
    - |
      echo $EXAMPLE_ID_TOKEN | tr '.' '\n'
    # validate the example gitlab ci job id token jwt that is in the
    # EXAMPLE_ID_TOKEN environment variable against the
    # gitlab jwks endpoint at $CI_SERVER_URL/-/jwks.
    - |
      SSL_CERT_FILE=$CI_SERVER_TLS_CA_FILE \
        ./gitlab-ci-validate-jwt EXAMPLE_ID_TOKEN
